{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Signup</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<div class="card">
    <h2>Create Account</h2>
    {% if error %}
    <p style="color:red; background:#ffe0e0; padding:5px; border-radius:5px;">{{ error }}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="Fnm" placeholder="Preethi" required>
        
        <label>Email</label>
        <input type="email" name="email" placeholder="email@gmail.com" required>
        
        <label>Password</label>
        <input type="password" name="pwd" required>
        
        <button type="submit">Signup</button>
    </form>
    <p>Already have account? <a href="/login/">Login</a></p>
</div>
</body>
</html>